@import '../../style/variables';
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-gap: 20px;
  margin: 0 auto;
  justify-content: center;
}
.productList {
  margin: 5px;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex: 1;
  border-radius: 1em;
  width: 280px;
  height: 392px;
  background-color: $white-100;

  > .productPrice {
    margin-top: 26px;
    text-align: left;
    color: $gray-400;
  }
  img {
    width: 260px;
    height: 297px;
    border-radius: 8px;
  }
  h5 {
    text-decoration: none;
    font-size: bold;
  }
}

.hColor {
  font-weight: 100;
  margin-left: 5px;
}
.productDetail {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  > .productColor {
    color: $gray-400;
    font-weight: bold;
    display: flex;
  }

  > .productBrand {
    color: $blue-200;
    text-decoration: none;
  }
}

.paginationButtons {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid $blue-200;
  color: $blue-200;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: $white-100;
  background-color: $blue-200;
}

.paginationActive a {
  color: $white-100;
  background-color: $blue-200;
}
