@import '../../style/variables';
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 0 220px;
}
.productList {
  margin: 5px;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex: 1;
  border-radius: 1em;
  width: 280px;
  height: 392px;
  background-color: $white-100;
  img {
    width: 260px;
    height: 297px;
  }
  h5 {
    text-decoration: none;
    font-size: bold;
  }
}
.productBrand {
  color: $blue-200;
  text-decoration: none;
}
.productColor {
  color: $gray-400;
  font-weight: bold;
  display: flex;
}
.hColor {
  font-weight: 100;
  margin-left: 5px;
}
.productDetail {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.productPrice {
  margin-top: 26px;
  text-align: left;
  color: $gray-400;
}
