@import '../../style/_variables.scss';

.userComponent {
  display: flex;
  background-color: $white-100;
  margin: 20px auto 10px auto;
  border-radius: 8px;
  align-items: center;
  .userImg {
    margin: 16px 10px 16px 26px;
  }
  .userEmail {
    h2 {
      color: $gray-300;
      font: normal normal bold 15px Nunito;
    }
  }
}
