@import '../../../style/variables';

.cancelModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(75, 156, 226, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.cancelModalContainer {
  width: 355px;
  height: 171px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: $white-100;
  border-radius: 8px;
  padding: 20px;
  .title {
    display: inline-block;
    text-align: center;
    margin-bottom: 17px;
    h1 {
      margin-bottom: 0;
      font: normal normal bold 25px Nunito;
    }
  }
  .body {
    text-align: center;
    > h2 {
      font: normal normal normal 15px Nunito;
      color: #555555;
      margin: 0;
    }
  }
  .cancelModalButtons {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    > Button {
      cursor: pointer;
      width: 65%;
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}
