@import '../../style/_variables';
.product-details {
  margin-top: 20px;
  height: 100%;
  justify-content: center;
  > Button {
    cursor: pointer;
    border: none;
    width: 235px;
    height: 45px;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.product {
  border-radius: 8px;
  display: flex;
  background-color: $white-100;
  text-transform: capitalize;
  flex-direction: column;
  align-items: center;

  h1 {
    font: normal normal normal 34px Nunito;
    color: #555555;
  }
  h2 {
    font: normal normal bold 25px Nunito;
    color: #525252;
  }
  h5 {
    font: normal normal bold 15px Nunito;
    color: #525252;
  }

  &__image {
    max-width: 520px;
    min-width: 250px;
    height: 100%;
    position: relative;
    display: flex;
    padding: 16px 16px;
    margin: 30px 0;
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 8px;
    }
  }
  &__title {
    margin-bottom: 25px;
  }
  &__detail {
    align-self: flex-start;
    Button {
      cursor: pointer;
      border: none;
      height: 45px;
      padding: 8px;
      border-radius: 8px;
    }
  }
  &__offerButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > Button {
      cursor: pointer;
      border: none;
      height: 45px;
      padding: 8px;
      border-radius: 8px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  &__offerButtons,
  .isSoldButton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__desc {
    margin-bottom: 10px;
  }
  &__description {
    text-transform: initial;
    text-align: left;
  }
  &__specification > div {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__specification > div {
    span {
      font: normal normal normal 15px Nunito;
      color: #555555;
    }
    display: flex;
    align-items: baseline;
  }
  &__specification {
    div > h5 {
      &:not(:last-child) {
        width: 145px;
      }
    }
  }
  .product__description {
    font: normal normal normal 15px Nunito;
    letter-spacing: 0px;
    color: #555555;
  }
}

.buttonDisplayBlock {
  display: block;
}
.buttonDisplayNone {
  display: none;
}
.isSoldButton {
  > Button {
    cursor: no-drop;
  }
}

.givenOfferButton {
  width: 250px !important;
  height: 36px !important;
  display: flex;
  padding: 8px !important;
  > h5 {
    margin-left: 5px;
  }
}

@media (min-width: 600px) {
  .product {
    flex-direction: row;
    &__detail {
      margin-top: 30px;
      Button {
        width: 235px;
      }
    }
    &__offerButtons {
      > Button {
        width: 235px;
      }
    }
    &__offerButtons,
    .isSoldButton {
      margin: 30px 0;
    }
    &__price {
      margin-top: 30px;
    }
  }
}

@media (max-width: 600px) {
  .productDetailAllButtons {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    background-color: $white-100;
  }
  .isSoldButton {
    flex-wrap: nowrap;
    Button {
      width: 100% !important;
    }
  }
  &:not(.isSoldButton) {
    > Button {
      margin: 0 2px;
      width: 48% !important;
    }
  }

  .product {
    margin: 10px;
    &__detail {
      margin: 0 10px 150px 10px;
    }
    &__title {
      font-size: 18px !important;
    }
    &__price {
      margin-bottom: 10px;
    }
    &__desc {
      margin-top: 10px;
    }
    &__offerButtons {
      flex-wrap: nowrap;
    }
  }
  .product__titleAndSpec {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 520px) {
  .product {
    &__image {
      width: 520px;
    }
  }
}
