@import '../../style/variables';

.header {
  height: 80px;
  background-color: $white-100;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 11%;
  max-width: 100vw;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__logo {
    cursor: pointer;
    img {
      width: 130px;
    }
  }

  &__buttons {
    display: flex;
  }

  button {
    margin: 5px;
    min-width: 100px;
    font-weight: bold;

    img {
      margin-right: 6px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
