@import '../../style/variables';

.productAdd {
  margin-top: 20px;
  border-radius: 8px 8px 0 0;
  padding: 30px;
  background-color: $white-100;
  display: flex;
  flex-wrap: wrap;
}

.submitBtn {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 8x 8px 8px;
  > button {
    width: 315px;
    height: 45px;
    margin: 0 30px 30px 0;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 8px;
    background-color: $blue-200;
    font: normal normal bold 18px/24px Nunito;
    color: $white-100;
  }
}
